*
{
    margin: 0;
    padding: 0;
}
html
{
    height:100%;
}
body
{
    min-height: 100%;
    position: relative;
}
#footer{
    background-color: #E42572;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 8px;
    position: absolute;
    bottom: 0;
}

nav
{
    box-shadow: 1px 1px 10px grey;
}
nav ul li a
{
    transition: all 0.1s ease-in; 
}
nav ul li a:hover
{
    color: #3643FB !important;
}
nav ul .active a
{
    font-weight: bold;
    border-bottom: 3px solid #3643FB;
}
nav #profile h6
{
    font-size: 10px;
}
nav #profile h6#email
{
    font-size: 8px;
}
nav ul li div.dropdown-menu a.dropdown-item
{
    color: black;
}


/* Home */

#home h2
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #0202D7;
}
/* END Home */

/* Login */
#login>div
{
    border-radius: 20px;
}
#login h2
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: bold;
}
#login form .border-form
{
    border: 1px solid #0202D7;
}
#login form .border-form .form-control
{
    border: 0px solid black;
    border-left: 1px solid #0202D7;
    border-radius: 0;
    height: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0202D7;
}
#login button
{
    font-weight: bold;
}

#register>div
{
    border-radius: 20px;
}
#register>a
{
    font-size: 20px;
    font-weight: bold;
    color: black;
}
#register h2
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: bold;
}
#register form .border-form
{
    border: 1px solid #0202D7;
}
#register form .border-form .form-control
{
    border: 0px solid black;
    border-left: 1px solid #0202D7;
    border-radius: 0;
    height: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0202D7;
}
#register button
{
    font-weight: bold;
}
/* END Login */

/* SIGN UP STEP */

/* Login */
#signupstep>div
{
    border-radius: 20px;
}
#signupstep h2
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: bold;
}
#signupstep form .form-control
{
    border: 0px solid black;
    border: 1px solid #0202D7;
    font-family: 'Segoe UI';
    color: #0202D7;
}
#signupstep button
{
    font-weight: bold;
}

#signupstep #bar-progress
{
    position: relative;
    height: 30px;
    padding: 0;
}
#signupstep #bar-progress>span
{
    background-color: white;
    color: white;
    border: 1px solid #0202D7;
    height: 30px;
    width: 30px;
    display: block;
    text-align: center;
    font-weight: bold;
    position: absolute;
}
#signupstep #bar-progress>span.active
{
    background-color: #0202D7;
    color: white;
}
#signupstep #bar-progress>.circle1
{
    left: 0;
}
#signupstep #bar-progress>.circle2
{
    left: 50%;
    transform: translate(-50%, 0%);
}
#signupstep #bar-progress>.circle3
{
    right: 0;
}
#signupstep #bar-progress>.garis
{
    padding: 0;
    margin: 0;
    height: 10px;
    background-color: #0202D7;
    top: 50%;
    position: absolute;
    transform: translate(0%, -50%);
}
/* END SIGN UP STEP  */

/* pengumuman */
#pengumuman>div>div
{
    border: 1px solid black;
}
#pengumuman>div>#body
{
    
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
#pengumuman>h2
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
}
#pengumuman #circle
{
    width: 10px;
    height: 10px;
}
/* END pengumuman */

/* informasi */
#informasi>div>div
{
    border: 1px solid black;
}
#informasi>div>#body
{
    
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
#informasi>h2
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
}
#informasi a
{
    background-color: #EEEEEE;
    text-decoration: none;
    color: black
}
#informasi a p
{
    white-space: nowrap;
    overflow: hidden;
}
#informasi #circle
{
    width: 10px;
    height: 10px;
}
/* END informasi */